<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main id="main-container">
        <div id="app">

            <aside>

                <header>
                    <div id="aside-user">
                        <div id="avatar-container">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <p>
                            Sofia
                        </p>
                    </div>

                    <div id="aside-header-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <section id="notifications">
                    <div id="notification-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <p>
                            Ricevi notifiche di nuovi messaggi
                        </p>
                        <p>
                            <u>Attiva notifiche desktop</u>
                        </p>
                    </div>
                </section>

                <section id="search">
                    <div id="search-container">
                        <div id="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                        
                    
                        
                    </div>
                </section>

                <main>
                    <div v-for="(contact, i) in contacts" class="contact-container"
                        :class="{
                            'active': i == activeContact
                        }"
                        @click="changeContact(i)">
                        <img :src="contact.avatar" :alt="contact.name">
                        <div>
                            <p>
                                {{ contact.name }}
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <!--

                    <div class="contact-container">
                        <img src="img/avatar_2.jpg" alt="Michele">
                        <div>
                            <p>
                                Fabio
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_3.jpg" alt="Michele">
                        <div>
                            <p>
                                Samuele
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_4.jpg" alt="Michele">
                        <div>
                            <p>
                                Alessandro B.
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_5.jpg" alt="Michele">
                        <div>
                            <p>
                                Alessandro L.
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_6.jpg" alt="Michele">
                        <div>
                            <p>
                                Claudia
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_7.jpg" alt="Michele">
                        <div>
                            <p>
                                Federico
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>

                    <div class="contact-container">
                        <img src="img/avatar_8.jpg" alt="Michele">
                        <div>
                            <p>
                                Davide
                            </p>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                        <span>
                            12:00
                        </span>
                    </div>
                -->
                </main>

            </aside>

            <section>
                <header>
                    
                    <div id="section-contact">
                        <div id="avatar-container">
                            <img :src="contacts[activeContact].avatar" alt="contacts[activeContact].name">
                        </div>
                        <div>
                            <p>
                                {{ contacts[activeContact].name }}
                            </p>
                            <p>
                                Ultimo accesso oggi alle 12:00
                            </p>
                        </div>
                        
                    </div>

                    <div id="section-header-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <main>

                    <div v-for="(singleMessage, i) in contacts[activeContact].messages" class="message-container"
                        :class="{'sent' : singleMessage.status == 'sent',
                                 'received' : singleMessage.status == 'received'}">
                        
                        <div class="message">
                            <div class="text-message">
                                {{ singleMessage.message }}
                            </div>
                            <div class="time-message">
                                {{ singleMessage.date }}
                            </div>
                        </div>
                    </div>
                <!--
                    <div class="message-container sent">
                        <div class="message">
                            <div class="text-message">
                                Ricordati di stendere i panni
                            </div>
                            <div class="time-message">
                                15:50
                            </div>
                        </div>
                    </div>

                    <div class="message-container received">
                        <div class="message">
                            <div class="text-message">
                                Tutto fatto!
                            </div>
                            <div class="time-message">
                                16:15
                            </div>
                        </div>
                    </div>
                -->

                </main>

                <footer>

                    <div>
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div id="input-message">
                        <input type="text" @keyup.enter="addTextMessage" v-model="textMessage" placeholder="Scrivi un messaggio">
                    </div>

                    <div>
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </footer>

            </section>

        </div>
    </main>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- mio script -->
    <script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>